/* .navbar{
    color: black;
    margin-left: 400px;
    margin-top: 20px;
}

.fw-bold{
    position: absolute;
    margin-top: 20PX;
    margin-left: 20px;
}

.btn{
    position: absolute;
    border-radius: 20px;
    margin-left: 1400PX;
    margin-top: -45PX;
}

.img-fluid{
    margin-left: 1000PX;
margin-top: 100PX;
height: 300PX;
width: 300PX;
border-radius: 10PX;
}

.DOUBLE{
    font-size: 40px;
    margin-left: 200px;
    margin-top: 100PX;
}

.fs-5{
    position: absolute;
    margin-left: 200px;
    margin-top: 240px;
}

.recipes{
    margin-top: 320px;
    margin-left: 210px;
    width: 150px;
    height: 50px;
}

.rp1{
    margin-left: 400px;
    margin-top: -79px;
} */ 




  /* .b{
    background-color:rgb(221, 214, 214);
    width: 300px;
    height: 400px;
    z-index: 0;
    margin-left: 100px;
    margin-top: 50px;  
    padding: 20px;
  
} */


.a{
    height: 50px;
    width: 55px;
    border-radius: 50px;
    margin-left: -250px;
}

.j1{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    margin-left: 33px;
    margin-top: -10px;
}

.big {
    position: absolute;
    padding:7px;
    background-color:yellow;
    border-radius: 100%;
    margin-left: 115px;
    margin-top: 8px;
  }

  
 